name: Spaccatonio Monitor

on:
  schedule:
    - cron: '*/1 * * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install requests bcrypt
      - name: Run bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          SORARE_EMAIL: ${{ secrets.SORARE_EMAIL }}
          SORARE_PASSWORD: ${{ secrets.SORARE_PASSWORD }}
        run: python main.py
